img{
    border: solid 2px black;
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 5px;
    text-align: center;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}
p{
    color: white;
    background-color: black;
    padding: 5px;
    max-height: 1500px;
}
h1{
    color: black;
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}