img{
    border: solid 2px black;
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 5px;
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
    transition: background-color 0.3s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

a:hover{
    background-color: lightgray;
}
a img{
    display: block;
    margin: 0 auto;
}
p{
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    text-shadow: 1px 1px 2px black;
}
p a{
    color: #007bff;
    text-decoration: none;
}