div{
    background-color: white;
    display: inline;
    float: right;
}
p{
    color: white;
    background-color: black;
    padding: 5px;
    max-height: 1500px;
}

.odd{
    display: inline;
    float: left;
}



#img1{
    border: solid 2px black;
    height: 78px;
}
#img2{
    border: solid 2px black;
    height: 78px;
}
#img3{
    border: solid 2px black;
    height: 78px;
}
#img4{
    border: solid 2px black;
    height: 132px;
}

a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s;
}